/*ウィンドウ幅が最大767pxまでの場合に適用(タブレット用)*/
@media screen and (max-width: 767px) {
    #wrapper{
        width:75%;
    }

    .header {
        width: 300px;
    }

    .left{
        width: 100px;
    }

    .upper-main{
        width: 125px;
    }

    .center-main {
        width: 125px;
    }

    .center-right {
        width: 75px;
    }

    .lower {
        width: 200px;
    }

    .footer {
        width: 300px;
    }


}


/*ウィンドウ幅が最大479pxまでの場合に適用(スマホ用)*/
@media screen and (max-width: 479px) {

    body{
        min-height: 100%;
        height: 100%;
        width: 100%;
        margin: 0 auto;
        max-width: 150px;
    }


    #wrapper{
        margin: 0 auto;
    }

    .header{
        width: 150px;
        height: 100px;
    }

    .left{
        width:150px;
        height: 100px;
        float: none;
    }

    .upper-main{
        width:150px;
        height: 50px;
        float: none;
    }

    .center-main{
        width:150px;
        height: 100px;
        float: none;
    }

    .center-right{
        width:150px;
        height: 100px;
        float: none;
    }

    .lower{
        width:150px;
        height: 100px;
        float: none;
    }

    .footer{
        width:150px;
        height: 100px;
        float: none;
    }
}    